@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

input[name="question-input"] {
  flex: 1;
  max-width: 800px;
  min-width: 50%;
  align-self: center;
  margin: 20px;
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 18px;
  font-size: 30px;
}

input[name="question-input"]:focus {
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 18px;
  font-size: 30px;
}

#prompt {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex:1;
  flex-direction: column;
  text-align: center;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  width: 800px;
  align-self: center;
}

.cancel {
  width: 300px;
  background-color: #636c72;
  border-color: #636c72;
  box-shadow: none;
  -webkit-box-shadow:none;
  margin-top: 10px;
}

.cancel:focus {
  box-shadow: none;
  -webkit-box-shadow:none;
}

.cancel:hover {
  background-color: #353a3d;
  border-color: #636c72;
  box-shadow: none;
}


#loading {
  margin-top: 50px;
  text-align: center;
}

#loading h4 {
  text-align: left;
  color: white;
  font-size: 50px;
}


svg {
  width: 50px;
  height: 50px;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #636c72;
  border-color: #636c72;
  box-shadow: none;
  -webkit-box-shadow:none;
}

#search-term {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
}

#search-term img {
  width: auto;
  height: 30px;
  margin: 0 20px;
  cursor: pointer;
  opacity: .4;
  transition: opacity .2s;
}

#search-term img:hover {
  opacity: 1;
}

.search_result {
  text-align: left;
  cursor: pointer;
}

.source-tags {
  margin-right: 10px;
}


.source-text {
  color: #f7f7f9;
}

.source-tags-holder {
  display: block;
  text-align: left;
  flex:1;
  align-self: center;
  margin-left: 10px;
}

.source-container {
  display: flex;
  justify-content: space-between;
}
.source-container h5 {
  margin: 0;
}

.result-body {
  text-align: center;
}