<div *ngIf="state !== 'EMPTY'" id="loading">

  <div id="search-term">
    <img src="assets/svg/close.svg" (click)="cancel()" />
  </div>

  <object type="image/svg+xml" *ngIf="state === 'LOADING'"
          data="assets/svg/loading.svg"></object>
  <div *ngIf="results" class="result-body">
    <h4>Analysis</h4>
    <p class="text-white h5">{{question}}</p>
    <span>Performed in {{-1}} seconds</span>


    <h6>Bibliography</h6>
  </div>
</div>
<form *ngIf="state === 'EMPTY'" id="prompt">
  <input name="question-input"
         [(ngModel)]="question"
         placeholder="Enter your question..."
         class="form-control"
         (keyup)="onAsk($event)"
  />
</form>
<button type="button" *ngIf="state === 'EMPTY'"
        [class.submit]="question && question.length > 0 && btnText==='GO'"
        class="btn btn-primary"
        (click)="onAsk()"
>
  {{btnText}}
</button>
