// Import bootstrap here
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  justify-content: center;
  background-color: #4b5257;
}

app-root {
  display: flex;
  justify-content: center;
  flex:1;
  flex-direction: column;
}

app-search, app-question {
  text-align: center;
}

router-outlet + * {
  padding: 20px;
}

// For loading containers
.loading-modal > * > .modal-content {
  background: transparent;
  border: none;
  text-align: center;
}

.card-refresh-title {
  display: flex;
  justify-content: space-between;
}
