<%@page import="com.compositeapps.ts.utils.BrandingResources"%>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<html><head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="css/dd.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/style1.css" />
	<link rel="stylesheet" type="text/css" href="css/curalogin.css"/>
	<link rel="stylesheet" type="text/css" href="css/wb-style.css"/>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<script src="js/jquery.min.js"></script>
	<!-- jQuery library (served from Google) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/jquery.min.js "></script>
	<script src="js/randomColor.js "></script>
	<script src="js/jstz-1.0.4.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.bxslider.js"></script>
    <script type="text/javascript">
    var _csrftoken = "${_csrf.token}";
    var _csrfheader = "${_csrf.headerName}";
    var APPCONTEXT_LOGIN = "";
    if (navigator.geolocation)
    	navigator.geolocation.getCurrentPosition(showPosition);	
    else
    	alertPopup("Geolocation is not supported by this browser.","error");	

    function setAppcontextLogin(){
    	var parser = document.createElement('a');
    	parser.href = window.location.pathname;
    	var path = parser.pathname;
    	var appname = path.split('/');
    	if(appname.length == 3)
    		APPCONTEXT_LOGIN = "/" + appname[1];
    	else if(appname.length == 1)
    		APPCONTEXT_LOGIN = "";	
    }
    
    function showPosition(position){
    	location.latitude=position.coords.latitude;
    	location.longitude=position.coords.longitude;
    	LATITUDE = position.coords.latitude;
    	LONGITUDE = position.coords.longitude;
    	document.getElementById("gpslatitude").value = LATITUDE;
		document.getElementById("gpslongitude").value = LONGITUDE;
    }
    
	function isValidEmailAddress(emailAddress) {
		var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
		return pattern.test(emailAddress);
	}
	function login(){
		var username = document.getElementById("user_email").value;
		var pass = document.getElementById("user_pass").value;

		var warning = "";
		if(username.trim() == ""){
			warning += "Please enter a username\n";
			if(pass.trim() == "")
				warning += "Please enter a password\n"
		}else if(pass.trim() == ""){ 
			warning += "Please enter a password\n"
		}
		else{
			document.getElementById("form1").submit();
		}
		
		if (warning != "")
			alertPopup(warning,"error");
	}
	function loginWithEnter(e){
		if (e.keyCode == 13)
			login();
	}
	function setFocus(){
		getUrlPath();
	}
	
	function AuthenticateWithGoogle(){
		document.forms[1].submit();
	}

	$(document).ready(function() {
		$('#login-cura-stickyheader').sticky({topSpacing: 0});
		$('.login_the_new_face .bxslider').bxSlider({
			auto: true,
			autoStart:true,
			infiniteLoop: true,
			slideWidth:1024,
			mode:'horizontal',
			pause:5000,
			speed:500,
			randomStart:true
		}); 
	});
	
	function showSlideHeader(header) {
		var name = header.toLowerCase();
		name = name.replace(" ", "");
		
		if (name == "signup") {
			if ($('#login-sticky').css('display') == "block") {
				$('#login-sticky').slideUp('fast', function(){
					if ($('#signup-sticky').css('display') == "none")
						$('#signup-sticky').slideDown('fast', function(){});
				});
			}
			else {
			if ($('#signup-sticky').css('display') == "none")
				$('#signup-sticky').slideDown('fast', function(){});
			}
			//$('#user_email').focus();
		} else {
			if ($('#signup-sticky').css('display') == "block") {
				$('#signup-sticky').slideUp('fast', function(){
					if ($('#login-sticky').css('display') == "none") {
						$('#login-sticky').slideDown('fast', function(){});
					$('#user_email').focus();
					}
				});
			} else {
			if ($('#login-sticky').css('display') == "none")
				$('#login-sticky').slideDown('fast', function(){});
			}
			$('#user_email').focus();
		}
	}
	// Smooth scroll function to an anchor point within the same page
	$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 600);
		        return false;
				}
			}
		});
	});
	
	function hideSlideHeader(header) {
		$('#'+header+'-sticky').slideUp('fast', function(){});
	}
	
	function showResetUsernameArea(){
		var resetContainer = document.getElementById("reset_username_container");
		var loginContainer = document.getElementById("login_container");
		if (resetContainer.style.display == "none") {
			loginContainer.style.display = "none";
			resetContainer.style.display = "block";
			document.getElementById("reset_username_email").value = "";
		} else {
			resetContainer.style.display = "none";
			loginContainer.style.display = "block";
		}
	}
	
	function showResetPasswordArea() {
		var resetContainer = document.getElementById("reset_pwd_container");
		var loginContainer = document.getElementById("login_container");
		if (resetContainer.style.display == "none") {
			loginContainer.style.display = "none";
			resetContainer.style.display = "block";
			document.getElementById("reset_pwd_email").value = "";
		} else {
			resetContainer.style.display = "none";
			loginContainer.style.display = "block";
		}
	}
	
	function sendPwdEmail(btn) {
		$("#wait-div").show();
		var email = document.getElementById("reset_pwd_email").value;
		var serializedData = "emailAddress=" + email;
    	var request = $.ajax({
    	       url : APPCONTEXT_LOGIN + "/forgotPassword.htm",
    	       type : "post",
    	       data : serializedData,
    	       beforeSend: function (request){	    	    	   
                   request.setRequestHeader(_csrfheader, _csrftoken);
             	}
    	});
    	request.done(function(mailid) {
    		$("#wait-div").hide();
    		if (mailid != "") {
    			alertPopup('New password has been sent to ' + mailid,'success');
    			showResetPasswordArea();
    		} else {
    			alertPopup('Email is incorrect or does not exist.','error');
    			document.getElementById("reset_pwd_email").value = "";
    			document.getElementById("reset_pwd_email").focus();
    		}
    	});
    	request.fail(function (req, textStatus) {
    		$("#wait-div").hide();
    		if((req.responseText).indexOf("X-CSRF-TOKEN") != -1)
    	    	alertPopup("Forbidden access! Are you not authorized?","error");
    	});
	}
	
	function sendUsernameEmail(btn) {
		$("#wait-div").show();
		var email = document.getElementById("reset_username_email").value;
		var serializedData = "emailAddress=" + email;
    	var request = $.ajax({
    	       url : APPCONTEXT_LOGIN + "/forgotUsername.htm",
    	       type : "post",
    	       data : serializedData,
    	       beforeSend: function (request){ request.setRequestHeader(_csrfheader, _csrftoken);}
    	});
    	request.done(function(mailid) {
    		$("#wait-div").hide();
    		if (mailid != "") {
    			alertPopup('Your User Name has been sent to ' + mailid, 'success');
    			showResetUsernameArea();
    		} else {
    			alertPopup('Email is incorrect or does not exist.','error');
    			document.getElementById("reset_username_email").value = "";
    			document.getElementById("reset_username_email").focus();
    		}
    	});
    	request.fail(function (req, textStatus) {
    		$("#wait-div").hide();
    		if((req.responseText).indexOf("X-CSRF-TOKEN") != -1)
    	    	alertPopup("Forbidden access! Are you not authorized?","error");
    	});
    	request.error(function(error){
    		alert(error);
    	})
	}
	
	function init() {
		setFocus();
		checkForErrors();
		document.getElementById("clienttimezone").value = jstz.determine().name();
		setAppcontextLogin();
	}
	
	function checkForErrors() {
		var error = document.getElementById("hiddenerror").value;
		if (error == "true"){
			$("#login_container").css("height", "265px");
			document.getElementById("login-error-msg").style.display = "block";
		}
	}
	
	function selectRememberMe(){
		var chk = document.getElementById("j_remember");
		if(chk.checked)
			chk.checked = false;
		else
			chk.checked = true;
	}
	
</script>
 </head>
<body id="body" onload="init()" style="background: #E6E6E6">
<div id="wait-div" style="height:100%;width:100%;position: absolute;cursor: wait;display: none;margin-top:5.1%;z-index:9999999999"></div>
	<input type="hidden" value="${error}" id="hiddenerror"/>
	<div id="login-cura-stickyheader" class="login_cura_header_container">
		<div class="login_cura_header login-generic-height">
			<img class="header_app_title" src="images/<% out.println(BrandingResources.loginImage); %>" />
		</div>
	</div>
	<div class="login_background"></div>
	<div class="login_area">
		<div class="login_area_container">
			<div class="login_title_container">
				<img class="login_title" src="images/login-app-title.png" />
			</div> 
			<div id="login_container" class="login_box_container">
				<div class="login_field_area">
					<div class="welcome_title f-left">Welcome</div>
					<div class="login-error" id="login-error-msg">Email and/or password is incorrect. If you have any trouble logging in, 
					please email <a href="mailto:wbhubhelp@warnerbros.com" style="color:#8EB6FF">wbhubhelp@warnerbros.com</a></div>
					<form accept-charset="utf-8" id="form1" name="f" action="j_spring_security_check" method="POST">
						<div class="login_input_section f-left">						
								<div class="login_username_input_area">
									<img class="username_image f-left" src="images/login-profile-placeholder.png" style="margin-top:4px"/>
									<input id="user_email" name="j_username" class="login_field_input f-left" type="text" placeholder="Username" onkeydown="loginWithEnter(event)"/>
									<div class="forgot_button f-rt" onclick="showResetUsernameArea()">Forgot?</div>
								</div>
								<div class="login_password_input_area">
									<img class="username_image f-left" src="images/login-password-key1.png" style="margin-top:5px"/>
									<input id="user_pass" name="j_password" class="login_field_input f-left" type="password" placeholder="Password" onkeydown="loginWithEnter(event)"/>
									<div class="forgot_button f-rt" onclick="showResetPasswordArea()">Forgot?</div>
								</div>
								<input type="hidden" id="clienttimezone" name="clienttimezone">
								<input type="hidden" id="gpslatitude" name="gpslatitude">
								<input type="hidden" id="gpslongitude" name="gpslongitude">
						</div>
						<div class="remember_me_area f-left">
							<!--<input class="remember_checkbox f-left" type="checkbox" /> -->
							<input id="j_remember" name="_spring_security_remember_me" type="checkbox" style="float:left"/>
							<div class="remember_text f-left" style="cursor:default" onclick="selectRememberMe()">Remember me</div>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> 
					</form>
					<div class="signin_button_area f-left" onclick="login()">
						<div class="signin-text">Sign In</div>
					</div>
				</div>
				<form accept-charset="utf-8" action="googleauth?identifier=https://www.google.com/accounts/o8/id" method="post">
					<div class="login_google_signin" onclick="AuthenticateWithGoogle()">
						<img class="google_plus_small" src="images/login-google-signin.png" />
						<div>Sign In with Google</div>
					</div>
				</form>
				<input type="hidden" value="login"/>
			</div>
			<div id="reset_pwd_container" class="login_box_container" style="display:none;height:155px;">
				<div class="login_field_area">
					<div class="welcome_title f-left">Reset Password</div>
					<div class="login_input_section f-left" style="height: 17%;margin: 0% 7%;margin-bottom: 5%;width: 85%;">
						<div class="login_username_input_area">
							<img class="username_image f-left" src="images/login-profile-placeholder.png"/>
							<input id="reset_pwd_email" class="login_field_input f-left" type="text" placeholder="Enter User Name or Email..." style="width: 86%;outline:none"/>
						</div>
					</div>
					<div class="reset_button_area f-left" onclick="showResetPasswordArea()" style="margin: 0% 2.5% 0 4.6%;margin-left: 14%;">
						<div class="reset-text">Cancel</div>
					</div>
					<div class="reset_button_area f-left" onclick="sendPwdEmail(this)" style="margin: 0% 4.6% 0 2.5%;width:34%">
						<div class="reset-text" style="width:93%">Send Email</div>
					</div>
				</div>
			</div>
			
			<div id="reset_username_container" class="login_box_container" style="display:none;height:155px;">
				<div class="login_field_area">
					<div class="welcome_title f-left">Reset User Name</div>
					<div class="login_input_section f-left" style="height: 17%;margin: 0% 7%;margin-bottom: 5%;width: 85%;">
						<div class="login_username_input_area">
							<img class="username_image f-left" src="images/login-profile-placeholder.png"/>
							<input id="reset_username_email" class="login_field_input f-left" type="text" placeholder="Enter Email Address..." style="width: 86%;outline:none"/>
						</div>
					</div>
					<div class="reset_button_area f-left" onclick="showResetUsernameArea()" style="margin: 0% 2.5% 0 4.6%;margin-left: 14%;">
						<div class="reset-text">Cancel</div>
					</div>
					<div class="reset_button_area f-left" onclick="sendUsernameEmail(this)" style="margin: 0% 4.6% 0 2.5%;width:34%">
						<div class="reset-text" style="width:93%">Send Email</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<div class="popup-black-bg-alert" style="display: none;"></div>
	<div id="alert-window-popup" style="position: absolute; min-width: 400px; z-index: 999999; left: 50%; top: 15%; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-style: none solid solid; border-right-color: rgb(211, 211, 211); border-bottom-color: rgb(211, 211, 211); border-left-color: rgb(211, 211, 211); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 6px; display: none; background: white;">
		  		<div style="float:left;width: 100%;height:1px;border-top: 5px solid #35475D;"></div>
				<div style="width:100%;text-align:center;margin-top: 13px;">
					<img id="alert-success-img" src="images/checkmark2.png" style="width: 50px;">
					<img id="alert-error-img" src="images/alert2.png" style="width: 50px;display: none;">
				</div>
				
				<div  id="alert-text" style="float:left;width: 85%;min-height: 40px;font-size: 13px;padding: 10px 30px 10px 30px;font-weight: bold;line-height: 18px;">message</div>
				<div style="float:left;width: 100%;background: #f5f7f7;padding: 20px 0px;">
				 <div style="float:left;width:100%;text-align:center">
				 	<img src="images/okbtn.png" style="cursor:pointer;" onclick="closeAlertPopup()">
				 </div>
				</div>
		  </div>
</body>
</html>