<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <div class="card-refresh-title">
          <h3 class="card-title">Data</h3>
          <i class="fa fa-refresh" (click)="loadData()"></i>
        </div>
        <div class="card">
          <div class="card-header">
            Files
          </div>
          <ul class="list-group" *ngIf="stats">
            <li class="list-group-item justify-content-between">
              Unprocessed Files
              <span class="badge badge-default badge-pill">{{stats.unprocessed - stats.processed}}</span>
            </li>
            <li class="list-group-item justify-content-between">
              Files processed
              <span class="badge badge-default badge-pill">{{stats.processed}}</span>
            </li>
          </ul>
        </div>




        <div class="card">
          <div class="card-header">
            Articles
          </div>
          <ul class="list-group" *ngIf="stats">
            <li class="list-group-item justify-content-between">
              Articles
              <span class="badge badge-default badge-pill">{{stats.types.article}}</span>
            </li>
            <li class="list-group-item justify-content-between">
              Blogs
              <span class="badge badge-default badge-pill">{{stats.types.blog}}</span>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="card-header">
            Authors
          </div>
          <ul class="list-group" *ngIf="stats">
            <li class="list-group-item justify-content-between">
              Authors
              <span class="badge badge-default badge-pill">{{stats.authors.total}}</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">File Options</h3>
        <p class="card-text">Modify the files using the buttons below...</p>
        <button class="btn btn-primary" (click)="onClick('create')">Create Index</button>
        <button class="btn btn-warning" (click)="onClick('index')">Index Files</button>
        <button class="btn btn-info" (click)="onClick('process')">Process Files</button>
        <button type="button" class="btn btn-danger" (click)="onClick('reset')">Reset Files</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <object type="image/svg+xml"
          data="assets/svg/loading.svg"></object>
  <h4 class="text-white">Loading</h4>
</ng-template>
