<div *ngIf="state !== 'EMPTY'" id="loading">

  <div id="search-term">
    <img src="assets/svg/close.svg" (click)="cancel()" />
    <p class="text-white" [class.h4]="question && question.length > 50">{{question}}</p>
  </div>

  <object type="image/svg+xml" *ngIf="state === 'LOADING'"
          data="assets/svg/loading.svg"></object>
  <div *ngIf="results && results.hits" class="result-body">
    <div class="card bg-inverse" *ngFor="let r of results.hits.hits">
      <div class="card-block search_result" (click)="toggleOrSelect(r)">
        <div class="card-title source-container">
          <h5 class="text-white">{{r._source.title}}</h5>
          <div class="source-tags-holder">
            <small class="badge badge-default">{{r._source.type}}</small>
          </div>
          <i
            [class.fa-caret-down]="expanded && expanded===r"
            [class.fa-caret-right]="!(expanded && expanded===r)"
            class="fa text-white" aria-hidden="true"></i>
        </div>
        <div>

          <b class="text-white">{{r._source.date}}</b>
          <span class="text-white">{{r._score}}</span>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{r._source.author}}</h6>
        <p class="card-text source-text" [ngbCollapse]="!(expanded && expanded===r)">{{r._source.text}}</p>
        <small *ngFor="let tag of r._source.tags" class="source-tags badge badge-default badge-pill">{{tag}}</small>
      </div>

    </div>
    <ngb-pagination *ngIf="results && results.hits && results.hits.total > 0"
                    [collectionSize]="getNumPages(results.hits)"
                    [(page)]="page"
                    [maxSize]="10"
                    (pageChange)="onPageChange($event)"
                    aria-label="Default pagination"></ngb-pagination>
  </div>
</div>

<form *ngIf="state === 'EMPTY'" id="prompt">
  <input name="question-input"
         [(ngModel)]="question"
         placeholder="Enter your question..."
         class="form-control"
         (keyup)="onAsk($event)"
  />
</form>
<button type="button" *ngIf="state === 'EMPTY'"
        [class.submit]="question && question.length > 0 && btnText==='GO'"
        class="btn btn-primary"
        (click)="onAsk()"
>
  {{btnText}}
</button>
